
.contenedor{
    background-color: beige;
    display: grid;
    grid-template-columns: 500px;
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;

}

.excurciones{
    background-color: aqua;
    width: 500px;
    height: 500px;
}
/*Logo de cabalgata*/
.cabalgata-logo{
    max-width: 500px;
}
.descripcion{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.boton-cabalgatas{
    background-color: orange;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}