@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.contenedor{
    display: grid;
    grid-template-columns: 650px;
    column-gap: 10px;
    row-gap: 60px;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.562);
}

.excurciones{ 
    background-color: white;
    border: solid 3px;
    border-radius: 15px;
    border-color: black;
    box-shadow: 7px 10px 8px 0px orange;
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*Logo de cabalgata*/
.logo-{
    max-width: 600px;
    border-radius: 15px;
}
.descripcion{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.boton{
    padding: 10px;
    background-color: orange;
    box-shadow: 5px 10px 5px 0px rgba(177, 116, 3, 0.75);
    border-radius: 15px;
    text-decoration: none;
    color: black;
}
.wp{
    position: sticky;
    left: 0;
    color: green;
}