@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*caracteristicas del logo*/
.logo{
    width: 100px;
}
/*.opciones se encarga de ul*/
.opciones{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
}
/*aca se modifica los elementos a dentro de la ul*/
.opciones a{
    font-family: 'Roboto', sans-serif;                  
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}
.menu-desktop{
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.966);
    background-color: rgb(247, 163, 9);
}
.menu-peg{
    position: sticky;
    top: 0;
}
/*comportamiento del hover*/

.opciones a:hover{
    color: red;
}
h1{
    padding: 10px;
}


